.search-container{
margin-left: 5%;

> mat-form-field{
    background-color: rgb(66, 66,66);
    text-align: center;
    color: #fff;

> mat-label {color: #fff;}
}
}
.perfect-green{
 background-color: #69F0AE; }


table, mat-paginator {
    width: 90%;
    margin: auto;
}
mat-paginator {
    color: #fff;
}
h2 {
    text-align: center;
    padding-top: 20px;
}

.priorityOne {background-color: #69F0AE;}

.clickable:hover{
    cursor: pointer;
    background-color: #6A1B9A;
  }
  
  .clickable{
    background-color:#9C27B0;    
  }