.search-container{
margin-left: 5%;

> mat-form-field{
    background-color: rgb(66, 66,66);
    text-align: center;
    color: #fff;

> mat-label {color: #fff;}
}
}
.perfect-green{
 background-color: #69F0AE; }


table, mat-paginator {
    width: 90%;
    margin: auto;
}
mat-paginator {
    color: #fff;
}
h2 {
    text-align: center;
    padding-top: 20px;
}

.priorityOne {background-color: #69F0AE;}

.student-element-detail {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(66, 66,66);
    box-shadow: inset 2px 3px 8px #c1c1c1;
    border-radius: 8px;
  }
  