<article>
  <h2>Editable Dynamic Table</h2>
  <table mat-table [dataSource]="dataSource$ | async">
    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
      <th mat-header-cell *matHeaderCellDef>
        <span *ngIf="col !== 'edit' && col !== 'delete' && col !== 'create'">
          {{col}}
        </span>
      </th>
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <div>
          <div class="btn-edit" *ngIf="col === 'edit'; spanHeader">
            <button mat-raised-button (click)="openDialog(element, 'Edit')">Edit</button>
          </div>
          <div class="btn-create" *ngIf="col === 'create'; spanHeader">
            <button mat-raised-button (click)="openDialog(null, 'Create')">Create</button>
          </div>
          <div class="btn-delete" *ngIf="col === 'delete'; spanHeader">
            <button mat-raised-button (click)="openDeleteDialog(element)">Delete</button>
          </div>
          <span #spanHeader>
            {{element[col]}}
          </span>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</article>