<div class="search-container">

<mat-form-field>
  <mat-label>Filter data</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search for data..">
</mat-form-field>
</div>


<article>
  <h2>Editable Dynamic Table</h2>
    <table mat-table [dataSource]="dataSource" matSort>
    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span *ngIf="col !== 'edit' && col !== 'delete' && col !== 'create'">
          {{col}}
        </span>
      </th>
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <div>
          <div class="btn-edit" *ngIf="col === 'edit'; spanHeader">
            <button mat-raised-button (click)="openDialog(element, 'Edit')">Edit</button>
          </div>
          <div class="btn-create" *ngIf="col === 'create'; spanHeader">
            <button mat-raised-button (click)="openDialog(null, 'Create')">Create</button>
          </div>
          <div class="btn-delete" *ngIf="col === 'delete'; spanHeader">
            <button mat-raised-button (click)="openDeleteDialog(element)">Delete</button>
          </div>
          <div class="date" *ngIf="col === 'dueDate'; spanHeader">
            <input disabled matInput [placeholder]="element[col] | date:'dd-MM-yyyy'">
          </div>
          <div class="date" *ngIf="col === 'isCompleted'; spanHeader">
           <mat-checkbox disabled [ngClass]="getCheckboxColor(element[col])" [checked]="element[col]"></mat-checkbox>
          </div>

          <span #spanHeader *ngIf="col !== 'dueDate' && col !== 'isCompleted'">
            {{element[col]}}
          </span>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</article>